{% extends 'base.html' %}

{% block content %}
  <br />
<div class="container">

    {% for car_data in unique_cars_data %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3 class="text-center">{{ car_data.car_make }} - {{ car_data.car_model }} - {{ car_data.car_plate }}</h3>

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Average Fuel Consumption (100 km)</th>
                        <td>{{ car_data.average_fuel_consumption|floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <th>Total Price</th>
                        <td>{{ car_data.total_price|floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <th>Total Fuel</th>
                        <td>{{ car_data.total_fuel|floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <th>Total Driven Distance</th>
                        <td>{{ car_data.total_driven_distance }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock content %}
