{% extends 'base.html' %}

{% block content %}
  <h2>{{ user.username }} Car Information</h2>
  <br />
  {% for user_car in user_cars %}
    <h3>{{ user_car.car_model.car }} - {{ user_car.car_model.model }} - {{ user_car.car_plate }}</h3>

    <table border="1" class="table table-striped table-sm center-table">
      <thead>
        <tr>
          <th class="text-nowrap text-center">Car Year</th>
          <th class="text-nowrap text-center">Fuel Type</th>
          <th class="text-nowrap text-center">Odometer Value</th>
          <th class="text-nowrap text-center">Driven distance</th>
          <th class="text-nowrap text-center">Fuel-ups (L)</th>
          <th class="text-nowrap text-center">Gas Station Name</th>
          <th class="text-nowrap text-center">Gas Station Location</th>
          <th class="text-nowrap text-center">Date</th>
          <th class="text-nowrap text-center">Price EUR</th>
          <th class="text-nowrap text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for car_mileage in user_car.carmileage_set.all %}
          <tr>
            <td class="text-nowrap text-center">{{ user_car.car_year }}</td>
            <td class="text-nowrap text-center">{{ user_car.fuel_type }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.odometer_value }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.driven_distance }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.fuel_in_tank }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.gas_station.name }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.gas_station.location }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.gas_station.date }}</td>
            <td class="text-nowrap text-center">{{ car_mileage.price }}</td>
            <td class="text-nowrap text-center">
              <div class="d-inline-block">
                <a class="btn btn-primary btn-sm m-1" href="{% url 'edit_car' car_id=user_car.id carmileage_id=car_mileage.id %}">Edit</a>
              </div>
              <div class="d-inline-block">
                <a class="btn btn-danger btn-sm m-1" href="{% url 'delete_car' user_car.id car_mileage.gas_station.id %}"
                   onclick="return confirm('Are you sure you want to delete this car?')">Delete</a>
              </div>
              {% if forloop.last %}
                <div class="d-inline-block">
                  <a class="btn btn-success btn-sm m-1" href="{% url 'add_mileage' user_car.id %}">Update mileage</a>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% empty %}
    <p>No cars found</p>
  {% endfor %}
  <p>
    <a href="{% url 'Index' %}">Back to Home</a>
  </p>
{% endblock %}
